
.head{
    background-color: white;
}
.contaner{
    max-width: 1110px;
    text-align: center;
}
.main-1 a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px;
    border-radius: 20px;

}
.wi{
    width: 50%;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAA;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: center;
}
.logo{
    padding: 10px;
    margin-bottom: 0;
    margin-left: 20px;
}